/* pre code {
    color: #2a3e52 !important;
    background-color: #f8f8f8 !important;
  }
  
  blockquote {
    margin: 0.8em 0;
  }
  
  blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 15px;
    color: #777;
    background-color: rgba(66, 185, 131, .1);
  }
  
  .on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
  }
  
  h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: inherit;
  }
  
  div[class*="language-"].line-numbers-mode::after {
    background-color: #f8f8f8;
    border-right: unset
  }
  
  div[class*="language-"] {
    background-color: #f8f8f8;
  }
  
  div[class*="language-"].line-numbers-mode pre {
    padding-left: 2.5rem
  }
  
  
  div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
    color: #999999
    padding: .5em 1em;
    width: .5em;
  }
  
  .line-number {
    font-family: "Fira Code", "Roboto Mono", monospace;
  }
  
  .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
    color: #d800dc;
  }
  
  .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
    color: #26d065;
  }
  
  .token.boolean, .token.number, .token.function {
    color: #f97b25;
  }
  
  .token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
    color: #757373;
  }
  
  .token.property, .token.class-name, .token.constant, .token.symbol {
    color: #ffb20a;
  }
  
  .theme-default-content pre, .theme-default-content pre[class*="language-"] {
    padding: .5em 1em;
  }
  
  div[class*="language-"].line-numbers-mode::after {
    width: .5em;
  } */