/* 左上角文字大小 */

.navbar-brand>span.hidden-folded {
    font-size: 16px;
}

/*首页文章图片获取焦点放大*/

.item-thumb {
    cursor: pointer;
    transition: all 0.6s;
}

.item-thumb:hover {
    transform: scale(1.05);
}

.item-thumb-small {
    cursor: pointer;
    transition: all 0.6s;
}

.item-thumb-small:hover {
    transform: scale(1.05);
}

/* 去除头像阴影 */

div.dropdown.wrapper span img.normal-shadow {
    box-shadow: unset !important;
}

/* 大图圆角 */

.item-thumb {
    border-radius: 6px 6px 6px 6px;
}

/* bilibili视频挂载 */

.iframe_video {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .iframe_video {
        height: 15em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .iframe_video {
        height: 20em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .iframe_video {
        height: 30em;
    }
}

@media only screen and (min-width: 1200px) {
    .iframe_video {
        height: 40em;
    }
}

.iframe_cross {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%
}

.iframe_cross iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

/* 赞赏模态框样式修改 */

#myModal div.modal-content {
    background: rgba(255, 255, 255, 0.53);
}

/* 博文面板样式修改 */

#postpage div.panel:not(.b-light) {
    background-color: rgba(255, 255, 255, 0.07);
}

#postpage .panel:not(.b-light) {
    background-color: rgba(255, 255, 255, 0.7);
}

#postpage .post-img-figcaption {
    color: #252222;
}

#post-content blockquote {
    background: rgba(255, 255, 255, 0.17);
}

.show-foot .notebook span, .show-foot .copyright span {
    /* 修改日期字体大小 */
    font-size: 14px;
}

.show-foot .notebook {
    /* 修改日期颜色 */
    color: #333c !important;
}

.show-foot .copyright {
    color: #333333d6 !important;
}

.table-responsive table thead tr th {
    /* 表格表头颜色 */
    background-color: #504f4f8f;
}

.article__reward-info {
    /* 赞赏文字颜色 */
    color: #333c !important;
}

#postpage {
    color: #4a4a4a !important;
    font-size: 2rem !important;
}

#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5, #post-content h6 {
    color: #464646 !important;
}

code:not(.hljs) {
    /* code样式修改 */
    color: #c7254ed4 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.panel-default>.panel-footer, .panel-default>.panel-heading {
    /* 修改折叠框背景 */
    background: rgba(0, 0, 0, .17) !important;
}

.panel .accordion-toggle {
    /* 折叠框标题字体大小 */
    font-size: 17px !important;
}

.panel-default>.panel-heading {
    /* 折叠框标题字体颜色 */
    color: #333333c9 !important;
}

.comment-content-true a, .wrapper-lg .entry-content a {
    /* 超链接样式 */
    color: rgb(189, 56, 95) !important;
    border-bottom: 1px solid #ffffff00 !important;
}

/* 字体加粗 */

.dropdown.wrapper span.clear, nav.navi ul.nav>li, nav.navi ul.nav>li>span, nav.navi ul.nav>li>a, #tag_cloud-2 h5 {
    /* font-weight: 900; */
}

#small_widgetsul ul.entry-meta.text-muted, #post-panel .breadcrumb, #widget-tabs-4-hots h5, #widget-tabs-4-hots h4, #widget-tabs-4-hots a, #blog_info li, #widget-tabs-4-comments h4, #widget-tabs-4-comments a, #widget-tabs-4-random h4, #widget-tabs-4-random a {
    font-weight: 900;
}

/* 网站消息背景文字大小颜色 */

.alert-warning {
    color: #3e3b3b !important;
    background-color: rgba(22, 211, 249, 0.57) !important;
}

.alert {
    font-size: 18px !important;
}

/* 修改首页面板背景透明度 */

#post-panel {
    background: rgba(255, 255, 255, 0) !important;
}

/* 首页文章列表标题 */

h2.text-ellipsis>a, h3.text-ellipsis>a {
    /* 标题炫光 */
    text-shadow: 0 0 3px #fff !important;
    font-size: 26px !important;
}

/* 评论可见背景颜色修改 */

.hideContent {
    background: rgba(255, 255, 255, 0.3);
}

/* 修改站内文章分享样式 */

.post-inser .text-muted {
    color: rgb(53, 51, 51);
    font-size: 15px;
}

#post-content .preview .post-inser {
    margin: 0 !important;
}

/* github 页面修改 */

.panel div.b-light.bg-info {
    background-color: #23b7e5;
}

.panel div.b-light.bg-success {
    background-color: #27c24c;
}

.panel div.b-light.bg-dark {
    background-color: #3a3f51;
}

.panel div.b-light.bg-light {
    color: #58666e !important;
    background-color: #edf1f2;
}

.panel div.b-light.bg-light .text-muted {
    color: #98a6ad;
}

.panel div.b-light.bg-light .lter {
    background-color: #d5dede !important;
}

.panel .b-light .github_language {
    font-size: 15px;
}

.panel div.b-light.bg-black {
    color: #fff;
    background-color: #111;
}

.panel div.b-light.bg-warning {
    color: #fffefa;
    background-color: #fad733;
}

.panel div.b-light.bg-primary {
    color: #f4f3f9;
    background-color: #7266ba;
}

.panel div.b-light.bg-danger {
    color: #fff;
    background-color: #f05050;
}

/* 目录树 */

#toc {
    background-color: rgba(255, 255, 255, 0) !important;
}

#toc a {
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 16px;
}

.tags .tocify-item {
    background-color: rgba(255, 255, 255, 0)
}

/* 文章版权 */

#post-content blockquote.content-copyright {
    border-left: 5px solid #f05050!important;
    margin: 1.6em 0px;
    padding: 13px 25px!important;
    color: #000000d4;
}

/* 复制模态框 */

.swal-title:first-child {
    margin-top: 0px;
}

.swal-title {
    color: rgba(0, 0, 0, .65);
    padding: 5px 5px;
    font-size: 17px;
}

.swal-modal {
    width: 250px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
}

/* 
.panel div.b-light .panel div.b-light .panel div.b-light .panel div.b-light

首页文章图片模态框大小响应式

@media screen and (max-width: 1200px) {
    .post-thumbnail-inner-modal , .panel-picture .entry-header{
        height: 190px;
    }
    h3.index-post-title{
        line-height: 95px;
    }
}

@media screen and (min-width: 1201px) {
    .post-thumbnail-inner-modal , .panel-picture .entry-header{
        height: 250px;
    }
    h3.index-post-title{
        line-height: 125px;
    }
}

@media screen and (min-width: 1801px) {
    .post-thumbnail-inner-modal , .panel-picture .entry-header{
        height: 280px;
    }
    h3.index-post-title{
        line-height: 140px;
    }
}

@media screen and (max-width: 768px) {
    .post-thumbnail-inner-modal , .panel-picture .entry-header{
        height: 260px;
    }
    h3.index-post-title{
        line-height: 130px;
    }
}
@media screen and (max-width: 651px) {
    .post-thumbnail-inner-modal , .panel-picture .entry-header {
        height: 220px;
    }
    h3.index-post-title{
        line-height: 120px;
    }
}

div.blog-post div.panel-picture {
    overflow: hidden;
}

.post-thumbnail a.post-thumbnail-inner {
    transition: opacity .35s, transform .35s
}

.panel-picture:hover a.post-thumbnail-inner{
    添加背景模糊效果
    filter: blur(3px);
    添加背景放大效果
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.post-thumbnail-inner-modal {
    首页博文蒙版未获取焦点时的灰色透明背景
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.panel-picture:hover>.post-thumbnail>a.post-thumbnail-inner>div {
     首页博文蒙版获取焦点时的灰色透明背景
    background-color: rgba(0, 0, 0, .4);
}
.panel-picture div.entry-meta{
    文章描述隐藏,hover显示
    opacity: 0;
    transition: opacity .35s,transform .35s;
    transform: scale3d(.8, .8, 1);
    transform-origin: 50% -100%
}
.panel-picture:hover div.entry-meta{
    文章描述隐藏,hover显示
    opacity: 1;
    transform: scale3d(1, 1, 1)
}

.panel-picture > header h3.index-post-title{
    文章标题隐藏,hover显示
    transition: opacity .35s,transform .35s;
    transform: scale3d(.8, .8, 1);
    transform-origin: 50% 100%
}
.panel-picture:hover h3.index-post-title{
    文章标题hover显示
    opacity: 1;
    transition: opacity .35s,transform .35s;
    transform: scale3d(1, 1, 1)
} */