/* 左上角文字大小 */

.navbar-brand>span.hidden-folded {
    font-size: 16px;
}


/*首页文章图片获取焦点放大*/

.item-thumb {
    cursor: pointer;
    transition: all 0.6s;
}

.item-thumb:hover {
    transform: scale(1.05);
}

.item-thumb-small {
    cursor: pointer;
    transition: all 0.6s;
}

.item-thumb-small:hover {
    transform: scale(1.05);
}


/* 去除头像阴影 */

div.dropdown.wrapper span img.normal-shadow {
    box-shadow: unset !important;
}


/* 大图圆角 */

.item-thumb {
    border-radius: 6px 6px 6px 6px;
}


/* bilibili视频挂载 */

.iframe_video {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .iframe_video {
        height: 15em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .iframe_video {
        height: 20em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .iframe_video {
        height: 30em;
    }
}

@media only screen and (min-width: 1200px) {
    .iframe_video {
        height: 40em;
    }
}

.iframe_cross {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%
}

.iframe_cross iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}


/* 赞赏模态框样式修改 */

#myModal div.modal-content {
    background: rgba(255, 255, 255, 0.53);
}


/* 博文面板样式修改 */

#postpage div.panel:not(.b-light) {
    background-color: rgba(255, 255, 255, 0.07);
}

#postpage .panel:not(.b-light) {
    background-color: rgba(255, 255, 255, 0.7);
}

#postpage .post-img-figcaption {
    color: #252222;
}

#post-content blockquote {
    background: rgba(255, 255, 255, 0.17);
}

.show-foot .notebook span,
.show-foot .copyright span {
    /* 修改日期字体大小 */
    font-size: 14px;
}

.show-foot .notebook {
    /* 修改日期颜色 */
    color: #333c !important;
}

.show-foot .copyright {
    color: #333333d6 !important;
}

.table-responsive table thead tr th {
    /* 表格表头颜色 */
    background-color: #504f4f8f;
}

.article__reward-info {
    /* 赞赏文字颜色 */
    color: #333c !important;
}

#postpage {
    color: #4a4a4a !important;
}

#post-content {
    /* 正文文字大小 */
    font-size: 1.9rem !important;
    font-weight: 400;
}

h5.text-md {
    /* 右侧边栏标题文字大小 */
    font-size: 2rem !important;
}

nav.navi li.text-xs {
    /* 左侧栏文字大小 */
    font-size: 17px !important;
}

div.dropdown.wrapper .font-bold {
    /*  博主文字大小 */
    font-size: 17px !important;
}

nav.navi ul.nav>li>a {
    /* 左侧栏文字大小 */
    font-size: 16px !important;
    font-weight: 300 !important;
}

span.badge.pull-right {
    /* 博文信息气泡文字大小 */
    font-size: 14px !important;
    font-weight: 300 !important;
}

#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
    color: #464646 !important;
}

#blog_info .list-group.box-shadow-wrap-normal {
    font-size: 16px;
}

.panel-default>.panel-footer,
.panel-default>.panel-heading {
    /* 修改折叠框背景 */
    background: rgba(0, 0, 0, .17) !important;
}

.panel .accordion-toggle {
    /* 折叠框标题字体大小 */
    font-size: 17px !important;
}

.panel-default>.panel-heading {
    /* 折叠框标题字体颜色 */
    color: #333333c9 !important;
}

.comment-content-true a,
.wrapper-lg .entry-content a {
    /* 超链接样式 */
    color: rgb(189, 56, 95) !important;
    border-bottom: 1px solid #ffffff00 !important;
}


/* 字体加粗 */

#small_widgetsul ul.entry-meta.text-muted,
#post-panel .breadcrumb,
#widget-tabs-4-hots h4,
#widget-tabs-4-hots a,
#widget-tabs-4-comments h4,
#widget-tabs-4-random h4,
#widget-tabs-4-random a {
    font-weight: 500;
}


/* 热门文章 */

#widget-tabs-4-hots h5,
#widget-tabs-4-comments a {
    font-weight: 500;
}


/* 网站消息背景文字大小颜色 */

.alert-warning {
    color: #3e3b3b !important;
    background-color: rgba(22, 211, 249, 0.57) !important;
}

.alert {
    font-size: 18px !important;
}


/* 修改首页面板背景透明度 */

#post-panel {
    background: rgba(255, 255, 255, 0) !important;
}


/* 首页文章列表标题 */

h2.text-ellipsis>a,
h3.text-ellipsis>a {
    /* 标题炫光 */
    text-shadow: 0 0 3px #fff !important;
    font-size: 1.8em !important;
}


/* 评论可见背景颜色修改 */

.hideContent {
    background: rgba(255, 255, 255, 0.3);
}


/* 修改站内文章分享样式 */

.post-inser .text-muted {
    color: rgb(53, 51, 51);
    font-size: 15px;
}

#post-content .preview .post-inser {
    margin: 0 !important;
}


/* github 页面修改 */

.panel div.b-light.bg-info {
    background-color: #23b7e5;
}

.panel div.b-light.bg-success {
    background-color: #27c24c;
}

.panel div.b-light.bg-dark {
    background-color: #3a3f51;
}

.panel div.b-light.bg-light {
    color: #58666e !important;
    background-color: #edf1f2;
}

.panel div.b-light.bg-light .text-muted {
    color: #98a6ad;
}

.panel div.b-light.bg-light .lter {
    background-color: #d5dede !important;
}

.panel .b-light .github_language {
    font-size: 15px;
}

.panel div.b-light.bg-black {
    color: #fff;
    background-color: #111;
}

.panel div.b-light.bg-warning {
    color: #fffefa;
    background-color: #fad733;
}

.panel div.b-light.bg-primary {
    color: #f4f3f9;
    background-color: #7266ba;
}

.panel div.b-light.bg-danger {
    color: #fff;
    background-color: #f05050;
}


/* 文章版权 */

#post-content blockquote.content-copyright {
    border-left: 5px solid #f05050!important;
    margin: 1.6em 0px;
    padding: 13px 25px!important;
    color: #000000d4;
}


/* 复制模态框 */

.swal-title:first-child {
    margin-top: 0px;
}

.swal-title {
    color: rgba(0, 0, 0, .65);
    padding: 5px 5px;
    font-size: 17px;
}

.swal-modal {
    width: 250px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
}


/* 文章归档 */

.tl-content.panel.padder.bg-black {
    background-color: #1c2b36!important;
}

.tl-content.panel.padder.bg-dark {
    background-color: #3a3f51!important;
}

.tl-content.panel.padder.bg-warning {
    background-color: #f0ad4e!important;
}

.tl-content.panel.padder.bg-primary {
    background-color: #7266ba!important;
}

.tl-content.panel.padder.bg-danger {
    color: #fff;
    background-color: #f05050!important;
}

.tl-content.panel.padder.bg-success {
    background-color: #27c24c!important;
}

.tl-content.panel.padder.bg-warning {
    color: #fffefa;
    background-color: #fad733!important;
}

.tl-content.panel.padder.bg-info {
    background-color: #23b7e5!important;
}