.tags {
    font-size: 14px !important;
}


/* Tag颜色 */

.tags a:nth-child(1) {
    background: #3399ffc9;
}

.tags a:nth-child(2) {
    background: #ff3300b8;
}

.tags a:nth-child(3) {
    background: #f90;
}

.tags a:nth-child(4) {
    background: rgb(119, 156, 226);
}

.tags a:nth-child(5) {
    background: rgba(105, 199, 28, 0.603);
}

.tags a:nth-child(6) {
    background: rgb(53, 10, 173);
}

.tags a:nth-child(7) {
    background: rgb(187, 10, 143);
}

.tags a:nth-child(8) {
    background: rgb(23, 143, 190);
}

.tags a:nth-child(9) {
    background: rgb(146, 221, 25);
}

.tags .badge.label {
    font-weight: 400!important;
    font-size: 14px!important;
}


/* 博客信息颜色 */

#blog_info>ul>li:nth-child(1)>span.badge {
    background-color: #0043ff;
}

#blog_info>ul>li:nth-child(2)>span.badge {
    background-color: #cc00ff;
}

#blog_info>ul>li:nth-child(3)>span.badge {
    background-color: #ffb100;
}

#blog_info>ul>li:nth-child(4)>span.badge {
    background-color: #ff0076;
}