/* 目录树 */

#toc {
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 17px;
    font-weight: 500;
}

#toc a {
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 16px;
}

.tags .tocify-item {
    background-color: rgba(255, 255, 255, 0)
}

div.vditor-outline__item{
    padding: 10px 0px;
}

#tag_toc.fixed #toc {
    /* max-height: unset!important; */
}

#toc::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 14px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#toc::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 14px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
#toc::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    background   : #ededed;
}