/* 修改 code 样式 */

#post-content pre code {
    margin: 0px 0px 0px 5px !important;
    padding: 5px 0px 0px 0px !important;
}
#post-content pre ::before {
    content: "" !important;
}
#post-content pre:before {
    background: #474949 !important;
    color: #ffffff !important;
    padding: 5px 5px 10px 15px !important;
}