/* 修改 code 样式 */
pre li{
    list-style-type: none;
}

pre code.hljs {
    padding: 15px 15px 0px 15px!important;
}

#post-content pre code {
    padding: 2px 4px;
    background-color: #ccc !important;
}

pre code::-webkit-scrollbar-track-piece {
    background: #474949;
}

code:not(.hljs) {
    /* code样式修改 */
    color: #c7254ed4 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

span[class$="keyword"] {
    color: #d800dc;
}

span[class$="string"],
span[class$="char"],
span[class$="attr-value"],
span[class$="regex"],
span[class$="variable"] {
    color: #26d065;
}

span[class$="bash"],
span[class$="boolean"],
span[class$="number"],
span[class$="function"] {
    color: #c15a14;
}

span[class$="comment"],
span[class$="block-comment"],
span[class$="prolog"],
span[class$="doctype"],
span[class$="cdata"] {
    color: #757373;
}

span[class$="property"],
span[class$="class-name"],
span[class$="constant"],
span[class$="symbol"] {
    color: #ffb20a;
}