/* 修改 code 样式 */

#post-content pre code {
    margin: 0 0 !important;
    padding: 0 0 !important;
}
#post-content pre:before {
    content: unset !important;
    /* background: unset !important; */
    color: unset !important;
    padding: unset !important;
}
pre code::-webkit-scrollbar-track-piece {
    background: #474949;
}